<!DOCTYPE html>
<HTML>
  <HEAD>
    <title>Backwater Creek Community Library - Simple Search</title>
    <LINK href="style.css" type="text/css" rel="stylesheet">

    <table width="100%" border="0">
      <tr>
        <td bgColor="#333333" colSpan="2">
          <font face="arial, helvetica" color="#ffffff">Backwater Creek Community</font>
        </td>
      </tr>

      <tr>
        <td vAlign="top">&nbsp;<a href="/">Search</a> | <a href="mobile_search.html">Mobile</a> | <a href="login.html">Login</a></td>
        <td align="right">
          <IMG alt="Backwater Creek Community" src="logo.jpg">
        </td>
      </tr>
    </table>

  </HEAD>
  <body link="#660000">
      {{{body}}}
  </body>
</HTML>
